html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

body {
    padding:0;
    margin:0;
    background: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

main {
 padding-bottom: 35px;
 max-width: 1000px;
 margin: 0 auto;
}


.section {
    background: #ffffff;
    border: 1px solid #fc9898;
    border-radius: 16px;
    padding: 0 10px;
}

.section-header {
    font-style:oblique;
    color: #090730;
}

.footer {
    color: lightgray;
    background: #1d1285;
    position:fixed;
    bottom: 0;
    height: 30px;
    margin: 0;
    padding 0;
}

.main-header {
    color: rgb(129, 55, 248);
}

.content {
    color: #1d1285;
    font-size: 10pt;
    background: #c4c2c2;
    margin:5px;
    border: 1px solid #00ffb3;
    border-radius: 16px;
    padding: 10px;
}

.content-header {
    color:maroon;
}

h4 {
    color: green;
    background: #bddfff;
    margin: 0;
}

.navigation {
    display:inline-block;
    position: fixed;
    top: 0px;
    width: 100vw;
}

.navigation-link {
    display:inline-block;
    width: 200px;
    background: lime;
    color: #000000;
    font-style: italic;
}

.unordered-list {
    font-family:'Courier New', Courier, monospace;
    color:#ca07e4;
}

.special {
    font-family: 'Courier New', Courier, monospace;
    color: orangered;
    text-decoration: underline;
}

.WTF {
    color: red;
    background:#1ec8fc;
    font-family:'Courier New', Courier, monospace;
}

.css-element .js-element {
    color: darkblue;
    background: lightskyblue;

}

.css-element-details{
    padding-left: 20px;
    color:rgba(4, 99, 161, 0.726);
    border: 1px dotted yellowgreen;
    background: #e79f9f;
}

.html_elements {
    padding-left: 10px;
    color: darkred;
    border: 1px solid yellowgreen;
}
